*{
    margin: 0;
    padding: 0;
}
.main_box{
    background-image:url("photo.jpg") ;
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.btn_one i{
    color: white;
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    left:16px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s linear;
    
}
.sidebar_menu{

    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px; ;
    box-shadow: 0 2px 4px rgba(255, 255, 255,0.5);
    height: 60px;
}
.sidebar_menu .logo a{
     position: absolute;
     left: 50px; 
     color: white;
     text-decoration: none;
     font-size: 20px;
     font-weight: 600;

}
.sidebar_menu .btn_two i {
    position: absolute;
    color: grey;
    font-size: 25px;
    line-height: 60px;
    left: 275px;
  opacity: 0; 
    cursor: pointer;
    transition: all 0.3s linear;
}


.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top:80px ;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar_menu .menu i,
a{
 color: white;
 text-decoration: none;
 font-size: 20px;
}
.sidebar_menu .social_media{
    color: gray;
    opacity: 0.5;
    position: absolute;
    left: 25%;
    bottom: 50px;
}
.sidebar_menu .social_media i{
    padding-left: 5px;
}
.sidebar_menu .menu i{
    padding-right: 8px ;
}

#check{
    display: none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgba(255, 255, 255,0.5);

}
.sidebar_menu .btn_one i:hover{
    transform: scale(1.2);
    font-size: 35px;
    cursor: pointer;
}
.sidebar_menu .btn_two i:hover{

    cursor: pointer;
    font-size: 32px;
}
.sidebar_menu .social_media i:hover{
    color: white;
    opacity: 2;
   transform: scale(1.1);
    
}
#check:checked ~ .sidebar_menu{
    left:0;
}
#check:checked ~ .btn_one i{
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i {
    opacity: 1;
}